<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

    <targets>
        <!-- File target for all log messages -->
        <target xsi:type="File"
                name="logfile"
                fileName="${basedir}/CLASSIC Journal.log"
                layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString}"
                keepFileOpen="false"
                archiveFileName="${basedir}/CLASSIC Journal.{#}.log"
                archiveNumbering="Date"
                archiveEvery="Day"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="7"/>

        <!-- File target for debug messages -->
        <target xsi:type="File"
                name="debugfile"
                fileName="${basedir}/CLASSIC Debug.log"
                layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=toString}"
                keepFileOpen="false"
                archiveFileName="${basedir}/CLASSIC Debug.{#}.log"
                archiveNumbering="Date"
                archiveEvery="Day"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="3"/>
    </targets>

    <rules>
        <!-- All logs, including from Microsoft -->
        <logger name="*" minlevel="Info" writeTo="logfile"/>
        <logger name="*" minlevel="Debug" writeTo="debugfile"/>
    </rules>
</nlog>